body {
font-family: "Calibri";
margin:0px;
padding:0px;
}

table, th, td {
border: 1px solid black;
border-collapse: collapse;
}

th, td {
padding: 5px;
text-align: left;    
width: 9px;
height: 9px;
}

#gamefield, #gameselect{
margin-top:50px;
margin-left:50px;
}

#player1, #player2{
margin-left:50px;
font-weight: 900;
}
